In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('dog/dogs-ranking-dataset.csv')

In [48]:
df.head()

,품종,유형,점수,인기순위,지능,선천적질병,어린이를 위한 점수,크기,평생비용,지능순위,지능%,수명(년),유전적 질병의 수,유전적 질병,평균구매가격,연간 사료비용,손질빈도,어린이 적합성
0,Border Terrier,terrier,3.61,61,Above average,none,4.99,small,"$22,638",30,70%,14.00,0,none,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",35,61%,13.84,2,"'lion jaw', heart problems",$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,Average,none,4.72,medium,"$22,049",45,45%,12.58,0,none,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,Above average,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,hip problems,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,Excellent,none,4.70,medium,"$18,993",18,82%,11.66,0,none,$800,$324,Once a week,1

In [50]:
df.columns

Index(['품종', '유형', '점수', '인기순위', '지능', '선천적질병', '어린이를 위한 점수', '크기', '평생비용',
       '지능순위', '지능%', '수명(년)', '유전적 질병의 수', '유전적 질병', '평균구매가격', '연간 사료비용',
       '손질빈도', '어린이 적합성'],
      dtype='object')

In [66]:
list(df['지능'].unique())

['Above average', 'Average', 'Excellent', 'Fair', 'Brightest', 'Lowest']

In [65]:
list(my_list)

[array(['Above average', 'Average', 'Excellent', 'Fair', 'Brightest',
        'Lowest'], dtype=object)]

In [51]:
sorted(df['크기'].unique())

['large', 'medium', 'small']

In [98]:
y = df['품종']

In [99]:
X = df.loc[ : , ['크기', '지능', '어린이 적합성'] ]

In [34]:
y

0             Border Terrier
1              Cairn Terrier
2             Siberian Husky
3     Welsh Springer Spaniel
4     English Cocker Spaniel
               ...
82          Alaskan Malamute
83                Bloodhound
84                 Chow Chow
85                     Akita
86                   Bulldog
Name: Breed, Length: 87, dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

In [37]:
encoder = LabelEncoder()

In [42]:
y = sorted(encoder.fit_transform(y))

In [46]:
df.head()

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,INTELLIGENCE RANK,INTELLIGENCE %,LONGEVITY(YEARS),NUMBER OF GENETIC AILMENTS,GENETIC AILMENTS,PURCHASE PRICE,FOOD COSTS PER YEAR,GROOMING FREQUNCY,SUITABILITY FOR CHILDREN
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",30,70%,14.00,0,none,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",35,61%,13.84,2,"'lion jaw', heart problems",$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,2,Average,none,4.72,medium,"$22,049",45,45%,12.58,0,none,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,hip problems,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,2,Excellent,none,4.70,medium,"$18,993",18,82%,11.66,0,none,$800,$324,Once a week,1

In [36]:
X

    size   intelligence  score for kids
0      1  Above average            4.99
1      1  Above average            4.91
2      2        Average            4.72
3      2  Above average            4.71
4      2      Excellent            4.70
..   ...            ...             ...
82     3        Average            2.57
83     3         Lowest            2.54
84     2         Lowest            2.51
85     3        Average            2.33
86     2         Lowest            1.86

[87 rows x 3 columns]

In [72]:
df_어린이적합성 =list(df['어린이 적합성'].unique())

In [77]:
어린이적합성_list = []

In [86]:
if df_어린이적합성[0]:
    어린이적합성_list[0] = ['적합성이 높음']
elif df_어린이적합성[1]:
    어린이적합성_list[1] = ['적합성 중간']
elif df_어린이적합성[2]:
    어린이적합성_list[2] = ['적합성 낮음']

In [87]:
어린이적합성_list

[['적합성이 높음']]

In [91]:
어린이적합성_list = list(df['어린이 적합성'].unique())

In [93]:
어린이적합성_list = ['높음', '중간', '낮음']

In [94]:
어린이적합성_list

['높음', '중간', '낮음']

In [32]:
X

    size   intelligence  score for kids
0      1  Above average            4.99
1      1  Above average            4.91
2      2        Average            4.72
3      2  Above average            4.71
4      2      Excellent            4.70
..   ...            ...             ...
82     3        Average            2.57
83     3         Lowest            2.54
84     2         Lowest            2.51
85     3        Average            2.33
86     2         Lowest            1.86

[87 rows x 3 columns]

In [33]:
X['intelligence'].unique()

array(['Above average', 'Average', 'Excellent', 'Fair', 'Brightest',
       'Lowest'], dtype=object)

In [127]:
X.loc[X['크기'] == 'small','크기'].count()

31

In [128]:
X.loc[X['크기'] == 'small','크기'] = 1

In [135]:
X.loc[X['크기']== 1,'크기'].count()

31

In [137]:
X.loc[X['크기'] == 'medium','크기'].count()

29

In [138]:
X.loc[X['크기'] == 'medium','크기'] = 2

In [149]:
X.loc[X['크기'] == 2,'크기'].count()

29

In [150]:
X.loc[X['크기'] == 'large','크기'] = 3

In [151]:
X

   크기             지능  어린이 적합성
0   1  Above average        1
1   1  Above average        1
2   2        Average        1
3   2  Above average        1
4   2      Excellent        1
.. ..            ...      ...
82  3        Average        2
83  3         Lowest        2
84  2         Lowest        2
85  3        Average        3
86  2         Lowest        2

[87 rows x 3 columns]

In [153]:
intelligence_encoder = LabelEncoder()

In [157]:
X['지능'].unique()

array(['Above average', 'Average', 'Excellent', 'Fair', 'Brightest',
       'Lowest'], dtype=object)

In [158]:
sorted(X['지능'].unique())

['Above average', 'Average', 'Brightest', 'Excellent', 'Fair', 'Lowest']

In [163]:
X

   크기             지능  어린이 적합성
0   1  Above average        1
1   1  Above average        1
2   2        Average        1
3   2  Above average        1
4   2      Excellent        1
.. ..            ...      ...
82  3        Average        2
83  3         Lowest        2
84  2         Lowest        2
85  3        Average        3
86  2         Lowest        2

[87 rows x 3 columns]

In [164]:
X['지능'] = intelligence_encoder.fit_transform(X['지능'])

In [165]:
X

   크기  지능  어린이 적합성
0   1   0        1
1   1   0        1
2   2   1        1
3   2   0        1
4   2   3        1
.. ..  ..      ...
82  3   1        2
83  3   5        2
84  2   5        2
85  3   1        3
86  2   5        2

[87 rows x 3 columns]

In [166]:
y

0             Border Terrier
1              Cairn Terrier
2             Siberian Husky
3     Welsh Springer Spaniel
4     English Cocker Spaniel
               ...
82          Alaskan Malamute
83                Bloodhound
84                 Chow Chow
85                     Akita
86                   Bulldog
Name: 품종, Length: 87, dtype: object

In [168]:
from sklearn.model_selection import train_test_split

In [169]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [172]:
from sklearn.neighbors import KNeighborsClassifier

In [173]:
knn = KNeighborsClassifier(n_neighbors=5)

In [174]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [176]:
y_pred = knn.predict(X_test)

In [178]:
y_pred

array(['Chihuahua', 'Australian Terrier', 'Cocker Spaniel', 'Briard',
       'Chesapeake Bay Retriever', 'Alaskan Malamute',
       'Australian Cattle Dog', 'Basset Hound', 'Bernese Mountain Dog',
       'Affenpinscher', 'Basenji', 'Chihuahua', 'Affenpinscher',
       'Belgian Tervuren', 'Afghan Hound', 'Chihuahua',
       'Australian Shepherd', 'Basenji'], dtype=object)

In [180]:
y_test.values

array(['Italian Greyhound', 'Border Terrier', 'Miniature Schnauzer',
       'Gordon Setter', 'Pointer', 'Rottweiler', 'Brittany', 'Shih Tzu',
       'English Cocker Spaniel', 'Yorkshire Terrier', 'Chow Chow',
       'Maltese', 'Dachshund', 'Saint Bernard', 'Bloodhound',
       'Brussels Griffon', 'Bedlington Terrier', 'Bull Terrier'],
      dtype=object)

In [5]:
df.loc[:, ['크기', '지능', '어린이 적합성'] ]

        크기             지능  어린이 적합성
0    small  Above average        1
1    small  Above average        1
2   medium        Average        1
3   medium  Above average        1
4   medium      Excellent        1
..     ...            ...      ...
82   large        Average        2
83   large         Lowest        2
84  medium         Lowest        2
85   large        Average        3
86  medium         Lowest        2

[87 rows x 3 columns]

In [19]:
label_encoders = {}
for col in ['지능'] :
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [20]:
df

,품종,유형,점수,인기순위,지능,선천적질병,어린이를 위한 점수,크기,평생비용,지능순위,지능%,수명(년),유전적 질병의 수,유전적 질병,평균구매가격,연간 사료비용,손질빈도,어린이 적합성
0,Border Terrier,terrier,3.61,61,0,none,4.99,small,"$22,638",30,70%,14.00,0,none,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,0,"'lion jaw', heart problems",4.91,small,"$21,992",35,61%,13.84,2,"'lion jaw', heart problems",$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,1,none,4.72,medium,"$22,049",45,45%,12.58,0,none,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,0,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,hip problems,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,3,none,4.70,medium,"$18,993",18,82%,11.66,0,none,$800,$324,Once a week,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Alaskan Malamute,working,1.82,47,1,"hip problems, dwarfism",2.57,large,"$21,986",50,36%,10.67,2,"hip problems, dwarfism","$1,210",$710,Daily,2
83,Bloodhound,hound,1.66,42,5,"fatal stomach bloat, skin problems",2.54,large,"$13,824",75,7%,6.75,2,"fatal stomach bloat, skin problems",$608,$710,Once a week,2
84,Chow Chow,non-sporting,1.76,54,5,"eye, hip problems",2.51,medium,"$15,898",77,5%,9.01,2,"eye, hip problems",$515,$466,Daily,2
85,Akita,working,1.95,41,1,hip problems,2.33,large,"$20,994",54,31%,10.16,1,hip problems,"$1,202",$710,Once a week,3
86,Bulldog,non-sporting,0.99,6,5,"breathing, hip, heart problems, 'dry eye'",1.86,medium,"$13,479",78,3%,6.29,5,"breathing, hip, heart problems, 'dry eye'","$2,680",$466,Once a week,2