In [2]:
import pandas as pd

In [47]:
df = pd.read_csv('dog/dogs-ranking-dataset.csv')

In [48]:
df.head()

,품종,유형,점수,인기순위,지능,선천적질병,어린이를 위한 점수,크기,평생비용,지능순위,지능%,수명(년),유전적 질병의 수,유전적 질병,평균구매가격,연간 사료비용,손질빈도,어린이 적합성
0,Border Terrier,terrier,3.61,61,Above average,none,4.99,small,"$22,638",30,70%,14.00,0,none,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",35,61%,13.84,2,"'lion jaw', heart problems",$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,Average,none,4.72,medium,"$22,049",45,45%,12.58,0,none,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,Above average,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,hip problems,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,Excellent,none,4.70,medium,"$18,993",18,82%,11.66,0,none,$800,$324,Once a week,1

In [50]:
df.columns

Index(['품종', '유형', '점수', '인기순위', '지능', '선천적질병', '어린이를 위한 점수', '크기', '평생비용',
       '지능순위', '지능%', '수명(년)', '유전적 질병의 수', '유전적 질병', '평균구매가격', '연간 사료비용',
       '손질빈도', '어린이 적합성'],
      dtype='object')

In [66]:
list(df['지능'].unique())

['Above average', 'Average', 'Excellent', 'Fair', 'Brightest', 'Lowest']

In [65]:
list(my_list)

[array(['Above average', 'Average', 'Excellent', 'Fair', 'Brightest',
        'Lowest'], dtype=object)]

In [51]:
sorted(df['크기'].unique())

['large', 'medium', 'small']

In [28]:
y = df['Breed']

In [31]:
X = df.loc[ : , ['size', 'intelligence', 'score for kids'] ]

In [34]:
y

0             Border Terrier
1              Cairn Terrier
2             Siberian Husky
3     Welsh Springer Spaniel
4     English Cocker Spaniel
               ...
82          Alaskan Malamute
83                Bloodhound
84                 Chow Chow
85                     Akita
86                   Bulldog
Name: Breed, Length: 87, dtype: object

In [35]:
from sklearn.preprocessing import LabelEncoder

In [37]:
encoder = LabelEncoder()

In [42]:
y = sorted(encoder.fit_transform(y))

In [46]:
df.head()

,Breed,type,score,popularity ranking,size,intelligence,congential ailments,score for kids,size.1,$LIFETIME COST,INTELLIGENCE RANK,INTELLIGENCE %,LONGEVITY(YEARS),NUMBER OF GENETIC AILMENTS,GENETIC AILMENTS,PURCHASE PRICE,FOOD COSTS PER YEAR,GROOMING FREQUNCY,SUITABILITY FOR CHILDREN
0,Border Terrier,terrier,3.61,61,1,Above average,none,4.99,small,"$22,638",30,70%,14.00,0,none,$833,$324,Once a week,1
1,Cairn Terrier,terrier,3.53,48,1,Above average,"'lion jaw', heart problems",4.91,small,"$21,992",35,61%,13.84,2,"'lion jaw', heart problems",$435,$324,Once a week,1
2,Siberian Husky,working,3.22,16,2,Average,none,4.72,medium,"$22,049",45,45%,12.58,0,none,$650,$466,Once in a few weeks,1
3,Welsh Springer Spaniel,sporting,3.34,81,2,Above average,hip problems,4.71,medium,"$20,224",31,69%,12.49,1,hip problems,$750,$324,Once a week,1
4,English Cocker Spaniel,sporting,3.33,51,2,Excellent,none,4.70,medium,"$18,993",18,82%,11.66,0,none,$800,$324,Once a week,1

In [36]:
X

    size   intelligence  score for kids
0      1  Above average            4.99
1      1  Above average            4.91
2      2        Average            4.72
3      2  Above average            4.71
4      2      Excellent            4.70
..   ...            ...             ...
82     3        Average            2.57
83     3         Lowest            2.54
84     2         Lowest            2.51
85     3        Average            2.33
86     2         Lowest            1.86

[87 rows x 3 columns]

In [72]:
df_어린이적합성 =list(df['어린이 적합성'].unique())

In [77]:
어린이적합성_list = []

In [76]:
if df_어린이적합성[0]:
    어린이적합성_list = '적합성이 높음'
elif df_어린이적합성[1]:
    어린이적합성_list = '적합성 중간'
elif df_어린이적합성[2]:
    어린이적합성_list = '적합성 낮음'

[1, 2, 3]

In [32]:
X

    size   intelligence  score for kids
0      1  Above average            4.99
1      1  Above average            4.91
2      2        Average            4.72
3      2  Above average            4.71
4      2      Excellent            4.70
..   ...            ...             ...
82     3        Average            2.57
83     3         Lowest            2.54
84     2         Lowest            2.51
85     3        Average            2.33
86     2         Lowest            1.86

[87 rows x 3 columns]

In [33]:
X['intelligence'].unique()

array(['Above average', 'Average', 'Excellent', 'Fair', 'Brightest',
       'Lowest'], dtype=object)